    *:not(buttons) {
      /*border: 1px solid red;*/
      margin: 0px;
      padding: 0px;
    }
    #cssPallette:not IgnoredItem {
      background-color1: rgb(173, 161, 141);
      background-color1: #544932;
      background-color#: rgb(116, 92, 67);
      background-color: rgb(255, 230, 209);
      background-color2: rgb(210, 176, 130);
      background-color3: rgb(153, 86, 29);
      background-color1: rgb(97, 44, 0);
      background-color1: rgb(71, 32, 0);
      background-color3: rgb(101, 74, 47);
    }

    span {
      font-size: 20px;
    }
    /*a {}*/
    a:link {
      background-color: rgb(255, 230, 209);
    }
    a:visited {
      background-color: rgb(210, 176, 130);
    }
    a:hover {
      color: rgb(255, 230, 209);
      background-color: rgb(71, 32, 0);
    }
    a:active {
      background-color: rgb(173, 161, 141);
    }
    .navBar {
      background-color: rgb(116, 92, 67);
      height: 7vh;
    }
    .uiWrapper {
      background-color: rgb(173, 161, 141);
    }
    .gameBoardCtrl {
      background-color: rgb(173, 161, 141);
    }
    #canvasStretch {
      /*height: 90%;*/
      width: 90%;
      padding: 5%;
      background-color: rgb(173, 161, 141);
    }
    #canvasStretch canvas {
      width: 100%;
      background-color: rgb(255, 240, 242);
      /*height: 100%;*/
    }
    /*border-radius: .5;   a hollow wrapper to round the edges of canvas*/
    /*
.canvasTube{
  border radius:
}*/

    .buttons {
      /* offset-x | offset-y | blur-radius | spread-radius | color */
      box-shadow: inset 1px 1px 2px 2px rgb(255, 240, 242);
      background: linear-gradient(to bottom, #f0c498 5%, #6b4011 100%);
      filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f0c498', endColorstr='#6b4011', GradientType=0);
      background-color: #f0c498;
      border-radius: 19px;
      border: 1px solid #f2ede9;
      display: inline-block;
      cursor: pointer;
      color: #e7e8c3;
      font-family: Trebuchet MS;
      font-size: 27px;
      padding: 24px 20px;
      text-decoration: none;
      text-shadow: -1px 2px 40px #544932;
    }
    .myButton:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6b4011), color-stop(1, #f0c498));
      background: -moz-linear-gradient(top, #6b4011 5%, #f0c498 100%);
      background: -webkit-linear-gradient(top, #6b4011 5%, #f0c498 100%);
      background: -o-linear-gradient(top, #6b4011 5%, #f0c498 100%);
      background: -ms-linear-gradient(top, #6b4011 5%, #f0c498 100%);
      background: linear-gradient(to bottom, #6b4011 5%, #f0c498 100%);
      filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#6b4011', endColorstr='#f0c498', GradientType=0);
      background-color: #6b4011;
    }
    .myButton:active {
      position: relative;
      top: 1px;
    }
    /*#canvas{
  border: 1px solid red;
}*/
    /*max-width: width = 800;
  max-height = 800;*/
    /*box-shadow:2px right;*/
